Package: unifiedviews-mysql
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: peter.hanecak@eea.sk
Depends: unifiedviews-backend-mysql (>> 3.1), unifiedviews-backend-mysql (<< 3.2), unifiedviews-backend (>> 3.1), unifiedviews-backend (<< 3.2), unifiedviews-webapp-mysql (>> 3.1), unifiedviews-webapp-mysql (<< 3.2), unifiedviews-webapp (>> 3.1),  unifiedviews-webapp (<< 3.2)
Description: The tool uses data processing pipelines for obtaining, processing, and storing RDF data.
