Package: unifiedviews-webapp
Source: unifiedviews-webapp
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: peter.hanecak@eea.sk
Homepage: https://github.com/UnifiedViews/Core
Depends:  unifiedviews-webapp-mysql (>> 3.1) | unifiedviews-webapp-pgsql (>> 3.1), unifiedviews-backend (>> 3.1), unifiedviews-backend (<< 3.2)
Description: The tool uses data processing pipelines for obtaining, processing, and storing RDF data.